body {
    margin: 0px;
}

header {
    background: #FFD900;
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container {
    display: flex;
}

section {
    background: #514988;
    width: 38rem;
    height: 33rem;
}

#principal {
    font-family: 'Verdana';
    font-style: normal;
    font-size: 8vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F3C61F;
    justify-content: space-around;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#subTitle {
    font-family: 'Verdana';
    font-style: normal;
    font-size: 3.2vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    justify-content: space-around;
    margin-top: 1rem;
}

#text {
    font-family: 'Verdana';
    font-style: normal;
    font-size: 2.8vh;
    display: flex;
    text-align: center;
    color: #FFFFFF;
    justify-content: space-around;
    margin-top: 4rem;
}

.timer {
    font-family: 'Verdana';
    font-style: normal;
    font-size: 3.5vh;
    display: flex;
    flex-direction: row;
    color: #514988;
    justify-content: space-around;
    width: 90%;
    height: 5rem;
}

#cronometro {
    font-family: 'Verdana';
    font-style: normal;
    font-size: 3vh;
    display: flex;
    color: #E33881;
    font-weight: bold;
    padding: 0rem;
    margin: 2% 0% 3% 3%;

}


button {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 4vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #514988;
    border-radius: 10pt;
    padding: 25pt 60pt 25pt 60pt;
    border-style: none;
}

button:hover {
    background: #9c96c0;
    cursor: pointer;
    color: #F3C61F;
}


#aviso {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F3C61F;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80rem;
}


#dir {
    padding-left: 1rem;
}